<% provide(:title, "Hien Luong | Portfolio") %>
<section id="home" class="parallax">
	<div class="parallax-overlay">
		<div class="container">
			<div class="avatar person center-block"></div>
			<div class="info">
				<h1>Hien P. Luong</h1>
				<h2>I'm a Web Developer Professional</h2>
			</div>
		</div>
	</div>
</section>
<section id="about">
	<div class="overlay-about">
		<div class="container">
			<div class="section-title">
				<h1>I'm good at</h1>
				<span class="border">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</span>
				<p>
				</p>
			</div>
			<div>

			</div>
		</div>
	</div>
</section>
<section id="work-process">
	<div class="parallax-overlay-4">
		<div class="container">
			<div class="section-title ">
				<h1 class="border-white">Work Process</h1>
				<span class="border border-white">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</span>
			</div>
		</div>
	</div>
</section>
<section id="portfolio">
	<div class="overlay-about">
		<div class="container">
			<div class="section-title">
				<h1>Portfolio</h1>
				<span class="border">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</span>
				<p>
				</p>
			</div>
			<div>

			</div>
		</div>
	</div>
</section>
<section id="contact">
	<div class="overlay-contact parallax-overlay">
		<div class="container">
			<div class="section-title">
				<h1 class="border-white">Contact</h1>
				<span class="border border-white">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</span>
				<p>
				</p>
			</div>
			<div class="contact col-md-6">
				<div class="phone">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-paper-plane-o fa-stack-1x fa-inverse"></i>
					</span>
					<a class="border-white" href="mailto:luongphuhien@gmail.com?Subject=Contact%20For%20Job" target="_top">
						luongphuhien@gmail.com

					</a>
				</div>
				<div class="linkedin">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
					</span>
					<a class="border-white" href="www.linkedin.com/in/hienphuluong" target="_top">
						www.linkedin.com/in/hienphuluong
					</a>
				</div>
			</div>
			<div class="form col-md-6"></div>
		</div>
	</div>
</section>