<% provide(:title, "Hien Luong | Portfolio") %>
<%= render "layouts/header" %>
<div class="main-container">
	<section id="home" class="parallax">
		<div class="">
			<div class="container">
				<div class="animated fadeInDown avatar person center-block"></div>
				<div class="info">
					<h1>Hien P. Luong</h1>
				</div>
			</div>
		</div>
	</section>
	<div class="welcome-page__bottom-line">
		<a href="#about"><i class="animated flash fa fa-chevron-down"></i></a>
	</div>
	<section id="about">
		<div class="overlay-about">
			<div class="container">
				<div class="section-title">
					<h1>I'm good at</h1>
					<span class="border">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</span>
					<p>
					</p>
				</div>
				<div class="expertise-list">
					<ul class="expertise">
						<li class="expertise-item">
							<div class="item">
								<i class="item-image ruby-skill"></i>
								<h4 class="item-title">
									Ruby On Rails
								</h4>
							</div>
						</li>
						<li class="expertise-item delay-1">
							<div class="item">
								<i class="item-image html-skill"></i>
								<h4 class="item-title">
									HTML 5
								</h4>
							</div>
						</li>
						<li class="expertise-item delay-2">
							<div class="item">
								<i class="item-image css-skill"></i>
								<h4 class="item-title">
									CSS 3
								</h4>
							</div>
						</li>
						<li class="expertise-item delay-3">
							<div class="item">
								<i class="item-image js-skill"></i>
								<h4 class="item-title">
									Javascript
								</h4>
							</div>
						</li>
					</ul>
				</div>
				<div>

				</div>
			</div>
		</div>
	</section>
	<section id="adaptive-device">
		<div class="main">
			<div class="title">
				<h1>GET ADAPTIVE</h1>
				<span>I make responsive websites that work perfectly on all devices</span>
				<span class="border">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</span>
			</div>
			<div class="devices">
				<ul class="devices__list">
					<li class="devices__item">
						<div class="devices__item-relative">
							<span class="devices__name">Laptops</span>
							<i class="devices__image devices__image_book"></i>
							<i class="devices__shadow devices__shadow_book"></i>
						</div>
					</li>
					<li class="devices__item">
						<div class="devices__item-relative">
							<span class="devices__name">Desktops</span>
							<i class="devices__image devices__image_pc"></i>
							<i class="devices__shadow devices__shadow_pc"></i>
						</div>
					</li>
					<li class="devices__item">
						<div class="devices__item-relative">
							<span class="devices__name">Tablets</span>
							<i class="devices__image devices__image_tab"></i>
							<i class="devices__shadow devices__shadow_tab"></i>
						</div>
					</li>
					<li class="devices__item">
						<div class="devices__item-relative">
							<span class="devices__name">Mobiles</span>
							<i class="devices__image devices__image_phone"></i>
							<i class="devices__shadow devices__shadow_phone"></i>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section id="portfolio">
		<div class="">
			<div class="container">
				<div class="section-title">
					<h1>Portfolio</h1>
					<span class="border">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</span>
					<p>All small and large projects made me push my limits further and gave me interesting experience in the term of web development. "Work harder toward the perfection" is what I learn from all of them</p>
					<p>
					</p>
				</div>
				<div>

				</div>
			</div>
			<div class="work-list">
				<ul class="work-list-done">
					<li id="work-1" class="work-item container-fluid">
						<div class="container">
							<div class="row">
								<div class="col-sm-12">
									<h1>D&amp;J EDUCATIONAL</h1>
									<em>D&amp;J Corporation Kindergarten Website</em>
									<a id="open-project" href="#work-1">Project Detail</a>
								</div>
								<img src="../images/dnjedu.png">
								
							</div>
						</div>
						<div class="short-description">
							<div class="container">
								<div class="description col-sm-12">
									<p>D&amp;J Educational Corportation strives to implement all aspects of early childhood education. The website contains six different kindergarten schools in Tucson, AZ and twelve schools in China. The main purpose of website is to show creativity, but also simplicity, and that is easy to use for all types of potential clients. In this project the design is also my work, starting with the color scheme up to the page structure and images used. It is a responsive page, which was something to consider even at the design stage of the process.</p>
									<div class="skill-involved">
										<ul>
											<li data-content="HTML5">
												<i class="icon-html5"></i>
											</li>
											<li data-content="CSS3">
												<i class="icon-css3"></i>
											</li>
											<li data-content="Javascript">
												<i class="icon-js"></i>
											</li>
											<li data-content="Ruby on Rails">
												<i class="icon-ruby"></i>
											</li>
											<li data-content="PSD to HTML">
												<i class="icon-psd"></i>
											</li>
											<li data-content="Responsive Web Design">
												<i class="icon-responsive-design"></i>
											</li>
											<li data-content="Visit">
												<a id="web-project" class="btn-primary" href="http://dnjedu.com">Website</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="real-demo  col-sm-12">
									<img src="../images/dnj-mobile.png">
								</div>
							</div>
						</div>
					</li>
					<li id="work-2" class="work-item container-fluid">
						<div class="container">
							<div class="row">
								<div class="col-sm-12">
									<h1>Educate Whimsy Games</h1>
									<em>Educational Website Design &amp; Programming</em>
									<a id="open-project" href="#work-2">Project Detail</a>
								</div>
								<img src="../images/edu.png">
								
							</div>
						</div>
						<div class="short-description">
							<div class="container">
								<div class="description col-sm-12">
									<p>Educational Whimsy Games is a creative project which intends to delivery educational games. The website contains all educational games made by Whimsy Games Ltc. The main purpose of website is to help children learn while playing games. The website is still under construction. I created the design mockup before doing coding. The project focuses on creating fun and exciting design for kids. It intends to collect data for parents and school purpose.</p>
									<div class="skill-involved">
										<ul>
											<li data-content="HTML5">
												<i class="icon-html5"></i>
											</li>
											<li data-content="CSS3">
												<i class="icon-css3"></i>
											</li>
											<li data-content="Javascript">
												<i class="icon-js"></i>
											</li>
											<li data-content="PSD to HTML">
												<i class="icon-psd"></i>
											</li>
											<li data-content="Responsive Web Design">
												<i class="icon-responsive-design"></i>
											</li>
											<li data-content="Visit">
												<a id="web-project" class="btn-primary" href="http://educate.whimsy-games.com">Website</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="real-demo  col-sm-12">
									<img src="../images/edu-mobile.png">
								</div>
							</div>
						</div>
					</li>
					<li id="work-3" class="work-item hidden">
						<a href="#work-3">
							<figure data-target="expand" class="item-frame">
								<img src="/images/dnjedu.png" class="animated"/>
							</figure>
							<h3>EDUCATE WHIMSY GAMES</h3>
						</a>
					</li>

				</ul>
			</div>
		</div>
	</section>
	<section id="work-process">
		<div class="parallax-overlay-4">
			<div class="container">
				<div class="section-title ">
					<h3>Looking for more?</h3>
					<h4>Have a look at my résumé to contribute your deciding factor</h4>
				</div>
				<a id="resume_btn" class="btn btn-4" href="../resume/Resume.docx" alt="web develper, freelancer, project">
					<span>View My Resume</span>
				</a>
			</div>
		</div>
	</section>
	<section id="contact">
		<div class="overlay-contact parallax-overlay">
			<div class="container">
				<div class="section-title">
					<h1 class="border-white">Contact</h1>
					<span class="border border-white">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</span>
					<p>
					</p>
				</div>
				<div class="contact col-md-12">
					<div class="phone col-md-4 col-sm-6 col-xs-12">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-paper-plane-o fa-stack-1x fa-inverse"></i>
						</span>
						<h3>EMAIL</h3>
						<a class="border-white" href="mailto:luongphuhien@gmail.com?Subject=Contact%20For%20Job" target="_top">
							Contact Me
						</a>
					</div>
					<div class="linkedin col-md-4 col-sm-6 col-xs-12">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
						</span>
						<h3>LINKEDIN</h3>
						<a class="border-white" href="https://www.linkedin.com/in/hienphuluong" target="_top">
							Follow Me
						</a>
					</div>
					<div class="location col-md-4 col-sm-12 col-xs-12">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
						</span>
						<h3>LOCATION</h3>
						<a class="border-white" href="#" target="_top">
							Seattle, Washington, USA
						</a>
					</div>
				</div>
				<div class="form col-md-6"></div>
			</div>
		</div>
	</section>
</div>
<%= render "layouts/footer" %>
