<div id="slider" class="container-fluid" ng-include="'views/slider.html'"></div>
<div class="intro-panel container-fluid">
  <div class="sub-intro center-block">
    <div class="the-lab col-lg-5 col-md-5 col-sm-5 col-xs-5">
      <h2><b>Trung tâm</b></h2>
      <p>Trung tâm ảnh màu kĩ thuật số Ánh Hồng nằm ở thành phố Tuy Hoà, tỉnh Phú Yên. Chúng tôi là một trong những trung tâm ảnh kĩ thuật số hàng đầu miền Trung, chuyên cung cấp đầy đủ các dịch vụ và buôn bán các thiêt bị ngành ảnh</p>
      </br>
      <p>Kể từ những năm 1980, chúng tôi luôn duy trì chất lượng phục vụ tôt nhất và giá cả phải chăng. Mục tiêu của chúng tôi là mang lại cho khách hàng những trải nghiệm hài lòng nhất khi sữ dụng dịch vụ của chúng tôi.</p>
    </br>
    <img src="images/the_lab.png" style="width: 50px; height: 59px;" draggable="false">
    </div>
    <div class="equipment col-lg-5 col-md-5 col-sm-5 col-xs-5">
      <h2><b>Thiết bị</b></h2>
      <p>Chúng tôi sở hữu những thiết bị tráng rọi ảnh tiên tiến hiện nay và tự hào là một trong số it lab hiện nay ở thanh phố Tuy Hoà có thể in mọi kích cở ảnh tuỳ theo nhu cầu của khách hàng. Thêm vào đó đội ngủ kĩ thuật viên lành nghề sẽ mang đến cho các bạn những bức ảnh với chất lượng màu sắc và hình ảnh tôt nhất.</p>
    </br>
    <p>Chúng tôi hiện nay có hai máy tráng rọi ảnh kĩ thuật số hiện đại Noritsu 7000 NS và Minota Future, cùng với thiết bị máy tính hiện đại phục vụ chỉnh sửa ảnh qua công nghệ photoshop CS5/6 tiên tiến như digital scanners (Durst Sigma, Fujifilm Lanovia C550) và công nghệ tuỳ chỉnh màu sắc tân . Thêm vào đó là đội ngủ kĩ thuật viên photoshop lành nghề luôn luôn được trang bị những kĩ năng chỉnh sửa ảnh mới nhất. </p>
      <img src="images/equipment.png" style="width: 60px; height: 67px;" draggable="false">
    </div>
  </div>
</div>