/* line 1, /Users/hienluong/Documents/Aptana Studio 3 Workspace/anhhong/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
/* line 7, /Users/hienluong/Documents/Aptana Studio 3 Workspace/anhhong/app/assets/stylesheets/scaffolds.css.scss */
body div#header {
  height: 50px;
  line-height: 50px;
}
/* line 11, /Users/hienluong/Documents/Aptana Studio 3 Workspace/anhhong/app/assets/stylesheets/scaffolds.css.scss */
body ul.dropdown-menu {
  width: 350px;
  padding: 29px;
  background: #080808;
  color: white;
}

/* line 18, /Users/hienluong/Documents/Aptana Studio 3 Workspace/anhhong/app/assets/stylesheets/scaffolds.css.scss */
.menu-mobile-on #mobile-menu-screen {
  display: block;
}

/* line 21, /Users/hienluong/Documents/Aptana Studio 3 Workspace/anhhong/app/assets/stylesheets/scaffolds.css.scss */
.login-comments {
  height: 50px;
}

/* line 25, /Users/hienluong/Documents/Aptana Studio 3 Workspace/anhhong/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 31, /Users/hienluong/Documents/Aptana Studio 3 Workspace/anhhong/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 38, /Users/hienluong/Documents/Aptana Studio 3 Workspace/anhhong/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 43, /Users/hienluong/Documents/Aptana Studio 3 Workspace/anhhong/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 47, /Users/hienluong/Documents/Aptana Studio 3 Workspace/anhhong/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
}

/* line 52, /Users/hienluong/Documents/Aptana Studio 3 Workspace/anhhong/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 59, /Users/hienluong/Documents/Aptana Studio 3 Workspace/anhhong/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 69, /Users/hienluong/Documents/Aptana Studio 3 Workspace/anhhong/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
