<div class="nav-sticky nav">

	<nav class="top-bar">

		<ul class="title-area" id="mobile-nav">
			<li class="logo">
				<%= link_to image_tag("logo1.png", id:"nav_logo", alt:"Hien Luong, logo"), "#home" %>
			</li>
			<li class="toggle-topbar menu-icon">
				<i class="fa fa-bars fa-2x"></i>	
			</li>
		</ul>

		<section class="top-bar-section">
			<ul class="container">
				<li>
					<a href="#home">Home</a>
				</li>
				<li>
					<a href="#gallery">Portfolio</a>
				</li>
				<li class="show-for-medium-up">
					<%= link_to image_tag("logo1.png", id:"nav_logo", alt:"Hien Luong, logo"), "#home" %>
				</li>
				<li>
					<a href="#resume">Resume</a>
				</li>
				<li>
					<a href="#contact">Contact</a>
				</li>
			</ul>
		</section>
	</nav>

</div>